<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nssol.dao.master.DictionaryDao">
	
	<select id="getDictionary" resultType="com.nssol.web.dataanalytics.model.DictionaryInfo">
		SELECT
			id AS id,
			dicValue AS dicValue
		FROM T_MST_DICTIONARY
		WHERE
		1=1
		<if test="dicType != null and dicType != ''">
			AND dicType = #{dicType}
		</if>

	</select>


</mapper>
		