<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>没有权限</title>
    </head>
    <body style="background-color: #f3f3f4">
    	<div style="text-align:center">
	        <h1 th:inline="text" style="color: #818182;font-size: 120px;">403</h1>
	        <p style="margin-top: -40px">您没有权限访问该页面</p>
	        <a href="/login">登出</a>
	<!--         <p><a th:href="@{/hellouser}">前往普通用户界面</a></p> -->
<!-- 	        <form th:action="@{/logout}" method="post"> -->
<!-- 	            <input type="submit" value="登出"/> -->
<!-- 	        </form> -->
        </div>
    </body>
</html>